### Dynamically typed property of python

In [7]:
score = 65.2    # float
print(type(score))

score = 72      # int
print(type(score))

<class 'float'>
<class 'int'>

### Input and print statements

In [8]:
# Input

input_var = input("Enter your age")
print(input_var)
print(type(input_var))   # Python always takes input in the form of string

33
<class 'str'>

In [9]:
#Print

value_a = "Charan"
value_b = "VSD"
value_c = "Vummethala"
number = 14.164

print(value_a,value_b,value_c)  # Prints all strings separated by space
print(value_a,value_b,value_c,sep=":")  # Prints all strings separated by :
print(value_a,value_b,value_c,end=" ")  #Prints all string separated by space
print(value_a,value_b,value_c)   # Prints in the previous line after space because last line ended with " " and not "\n"
print("number=%0.2f" %number)  # Prints number = 14.16 since f represents floating number and 0.2 means two decimal digits

Charan VSD Vummethala
Charan:VSD:Vummethala
Charan VSD Vummethala Charan VSD Vummethala
number=14.16

In [2]:
# Right and Left aligned

number = 164
print("c=%8d" %number)  # Prints right aligned number with reserved 8 spaces
print("c=%-8d" %number) # Prints left aligned number with reserved 8 spaces

c=     164
c=164

### Type conversions

Python doesn't support implicit type conversions i.e it doesn't convert data type of one variable to other when some operation between two data types are performed. However, we can perform explicit type conversions and convert data type of one variable to other

In [7]:
number1 = 164
number2 = "14"

# number1 + number2    # Throws error
number1 + int(number2) # Converts data type of number1 from string to integer

178